@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Red Hat Display';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:  hsl(223, 47%, 23%);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 1rem 0 1rem 0;
    background-color: hsl(225, 100%, 94%); 
    background-image: url(images/pattern-background-desktop.svg);
    background-size: contain;
    background-repeat: no-repeat;;
}


a:focus {
outline:0.25rem solid hsl(263, 66%, 64%);
outline-offset: 0.5rem;
}

main {
    max-width: 500px;
    max-height: 100%;
}

.Order-summary {
background-color: white;
border-radius: 2rem;
width: 90%;
margin: auto;
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
}

.Order-summary__p, .subscription__price, .Order-summary__cancel {
    color: hsl(224, 23%, 55%);
}

img {
border-top-left-radius: 2rem;
border-top-right-radius: 2rem;
}

.Order-summary__H1, .Order-summary__p, .Order-summary__subscription, 
.Order-summary__proceed, .Order-summary__cancel 
{
    margin: 1.5rem 1rem 0 1rem;
}

.Order-summary__subscription {
    display: flex;
    background-color: hsl(225, 100%, 98%);
    border-radius: 2rem;
    padding: 1rem;
    align-items: center;
}
/* Not sure if thats a right BEM notation since column isn't a mutation
 */ 
.subscription__column {
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
    align-items: center;
}

.subscription__plan {
    font-size: 1rem;
    margin-bottom: 0.25rem;
}

.subscription__change {
color: hsl(245, 75%, 52%);
font-weight: 900;
}

.subscription__change:hover {
    color: hsl(263, 66%, 64%);
}

.Order-summary__proceed {
    background-color:hsl(245, 75%, 52%);
    padding: 1rem 3rem;
    border-radius: 2rem;
    color: white;
    font-weight: 700;
    text-decoration: none;
}
.Order-summary__proceed:hover {
    background-color: hsl(263, 66%, 64%);
}
.Order-summary__cancel {
    background-color: white;
    font-weight: 900;
    text-decoration: none;
    margin-bottom: 1.5rem;
}

.Order-summary__cancel:hover {
    color:hsl(223, 47%, 23%);
}

@media screen and (max-width: 480px) {

 .Order-summary {
    max-width: 100%;
 }

 img {
    max-width: 100%;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
 }
}